#main{
    display: flex;
    height: 100vh;
    position: relative;
    .mapContainer{
        width: 70%;
    }
    .mapFunctional{
        width: 30%;
    }
    .loading{
        width: 50px;
        position: absolute;
        top:50px;
        left: 0;
        right: 0;
        margin: auto;
    }
}