#mapFunctional {
  height: 100vh;
  padding: 20px;
  .list {
    height: 70vh;
    overflow: auto;
  }
  .btnWrapper {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .clearBtn{
      width: 200px;
    }
    .inputfile{
      width: 200px;
      margin-top: 10px;
    }
  }
  .markerTitle{
    cursor: pointer;
  }
}